html {
  min-width: 350px;
}

.big-screen-link {
  padding-left: 1.8rem !important;
  padding-right: 0.4rem !important;
}

.xs-screen-link {
  display: flex;
  justify-content: center;
}
h1 {
  /* font-family: 'Molle', cursive!important; */
  font-family: "Righteous", cursive;
  /* font-family: 'Stalinist One', cursive!important; */
}

.picture {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  object-fit: contain;
}

.pic-btn:hover,
.pic-btn:focus,
.pic-btn:active,
.pic-btn.active,
.open > .dropdown-toggle.pic-btn {
  border-color: transparent;
}

.sec-likes {
  padding-left: 1.1rem !important;
}

.likes {
  font-size: 0.9rem !important;
}

.sec-comments {
  font-size: 0.9rem !important;
}
.comment-a {
  font-size: 0.9rem !important;
}

.comments {
  overflow-y: auto;
  max-height: 15em;
}

.comment-text {
  overflow-y: auto;
}
/* .post-description {
}

.comment-input:hover,
.comment-input:focus,
.comment-input:active,
.comment-input.active,
.open > .dropdown-toggle.comment-input {
  border:none;
} */

.forms-container {
  max-width: 340px !important;
}

.logforms-container {
  max-width: 400px;
}

.logo-h2 {
  font-family: "Righteous", cursive;
  font-size: calc(3.5rem + 4 * ((100vw - 320px) / 680));
}

.line {
  background-color: #dbdbdb;
  flex-grow: 1;
  height: 1px;
  position: relative;
  top: 0.45em;
}

.or {
  color: #8e8e8e;
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  margin: 0 18px;
}

/* small {
  color: red !important;
} */
/* .nav-item {
        padding-right: 0;
        padding-right: 0.4rem !important;
        padding-left: 0.4rem !important;
      } */

/* .navbar-brand {
    font-size: 2rem!important;
    margin-left: 1rem;
} */

/* NEW POST */
div.scrollmenu {
  background-color: #333;
  overflow-x: scroll;
  overflow-y: hidden;
  /* overflow: auto; */
  white-space: nowrap;
  height: 12vw;
  max-height: 130px;
  min-height: 50px;
}

div.scrollmenu img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  object-fit: contain;
}

div.scrollmenu img:hover {
  background-color: #777;
}

.upload_element {
  width: 100%;
}
@media screen and (min-width: 601px) {
  .upload_element {
    font-size: 30px;
  }
}
@media screen and (max-width: 600px) {
  .upload_element {
    font-size: 5vw;
  }
}
@media screen and (min-width: 601px) {
  .post-btn {
    font-size: 1.3rem !important;
  }
}
