html {
	min-width: 350px;
}

.big-screen-link{
    padding-left:1.8rem!important;
    padding-right:0.4rem!important;
}

.xs-screen-link {
    display:flex;
    justify-content:center;
}
h1{
    /* font-family: 'Molle', cursive!important; */
    font-family: 'Righteous', cursive;
    /* font-family: 'Stalinist One', cursive!important; */
}

.picture {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    object-fit: contain;
}

.pic-btn:hover, .pic-btn:focus, .pic-btn:active, .pic-btn.active, .open>.dropdown-toggle.pic-btn {
    border-color: transparent;
}

.sec-likes{
    padding-left: 1.1rem!important;
}

.likes{
   font-size: 0.9rem!important;
}

.sec-comments{
    font-size: 0.9rem!important;
}
.comment-a{
    font-size: 0.9rem!important;
}
/* .nav-item {
        padding-right: 0;
        padding-right: 0.4rem !important;
        padding-left: 0.4rem !important;
      } */

/* .navbar-brand {
    font-size: 2rem!important;
    margin-left: 1rem;
} */